doctype html
html
  body
    <form id='textForm' action='/' method="POST">
      <textarea name='textarea' id='mytextarea' style="width:40vw; height: 75vh;"></textarea>
      <input id='textSubmit' type='submit' style="display: block;">
    </form>
    <h1>OR</h1>
    <form id='myform' action='/' method="POST" enctype="multipart/form-data">
      //- <textarea name='textarea' id='mytextarea' style="width:40vw; height: 75vh;"></textarea>
      <input id='myfiles' name='myfiles' type="file" style="display:block;">
      <input id='mysubmit' type="submit" style="display:block;">
    </form>
    p(id='output')=csv

    script. 
      document.getElementById('output').innerHTML = document.getElementById('output').innerText;